# Pick & Go — Configuration
# Copier ce fichier en .env et remplir les valeurs

# URL de l'API Google Apps Script (Google Sheets)
URL_API=https://script.google.com/macros/s/AKfycby-h72ySbDALxL9dNkNIjPNWyxjhtkzQ4ulhPnGeQ9hJ9gAgAAKGG-8e3x4DeZ2IzYO/exec

# ID du client connecte
USER_ID=Client_5
